/*Header*/

header {
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    border-bottom: 2px solid brown;
}
#background {
    width: 60%;
    display:flex;
    justify-content:space-around;
}
.masquerHeader {
    display: none;
}

/*Layout*/
body{
    background-color: bisque;

}

#blocPage{
    width: 100%;
    margin:auto;
    margin-top:8%;
    padding-bottom: 50px;
}

#photo{
    border: 2px solid brown;
    margin-top: 15px;
    margin-left: 46%;
    margin-bottom: -10px;
}

table {
    margin:auto;
    border-collapse:collapse;
}

#supGauche {
    height:40px;
    border-right: 2px solid brown;
    border-bottom: 2px solid brown;
}

#supDroit {
    height:40px;
    border-left: 2px solid brown;
    border-bottom: 2px solid brown;
}

#infGauche {
    height:40px;
    border-right: 2px solid brown;
    border-top: 2px solid brown;
}
#infDroit {
    height:40px;
    border-left: 2px solid brown;
    border-top: 2px solid brown;
} 

#milieu {
    padding-top:0px;
}

#introduction {
    margin-top:25px;
    margin-bottom: 35px;
}

h1,p 
{
    font-style: italic;
    text-align: center;
}

/* barre de navigation */
nav{
    width:30%;
    margin:auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 2px solid brown;
    border-radius: 10px;
    padding:0px;
    margin-top:0px;
}

nav ul li {
    list-style-type: none;
    width:150px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

nav a{
    text-decoration: none;
    color:black;
}

nav li:hover {
    width: 150px;
    border-radius: 2px solid brown;
    background-color: brown;
    opacity: 0.5;
    font
}

/* contenue du menu*/
#main {position:relative;
}

article {
    display: none;
}

.afficher {
    display:block;
    margin:auto;
    position: absolute;
    top:0;
    left: 31.5%;
    padding: 2rem 2.5rem 1.5rem 2.5rem ;
    width: 40rem;
    background-color: rgba(235, 99, 99, 0.85);
    border-radius: 10px;
    margin-bottom:20px;
    transform: translateY(-30rem);
}

h2 {
    width: 200px;
    margin:auto;
    margin-bottom: 25px;
    text-align: center;
    background-color: rgba(170, 62, 62, 0.85);
    border: 2px solid rgba(170, 62, 62, 0.85);
    border-radius: 20px;
    opacity: 0.95;
}

h3 {
    font-weight: bold;
    margin-bottom: 0;
}
article p {
    font-style: italic;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

article ul {
    margin-top:0;
    font-size: 0.9em;
}

/* mise en forme croix sur article*/
.croix {
    width:30px; 
    height: 30px; 
    cursor: pointer;
    position:absolute;
    top:5px;
    right: 4px;

}

.croix:hover {
    background-color: crimson;
    opacity: 0.85;
    border-radius: 20px;
}

.croix span {
    display:block;
    width: 100%;
    height: 1px; 
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.croix span::before, .croix span::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
}

.croix span::before {
    transform: translateY(10px);
    transform: rotateZ(-45deg);
}

.croix span::after {
    transform: translateY(-10px);
    transform: rotateZ(45deg);
}

/* skill's bar*/

#skillBar {
    margin-top: 25px;
}

#skillBar p {
    margin-top: 5px;
}

#adap {
    background-color: rgba(109, 40, 40, 0.85);
    width: 40%;
    height: 5px; 
    margin: 5px 180px 5px;
    border-radius: 2px;
}

#adap::before {
    content:'';
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: azure;
    border-radius: 2px;
}

#auto {
    background-color: rgba(109, 40, 40, 0.85);
    width: 40%;
    height: 5px; 
    margin: 5px 180px 5px;
    border-radius: 2px;
}

#auto::before {
    content:'';
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: azure;
    border-radius: 2px;
}
#org {
    background-color: rgba(109, 40, 40, 0.85);
    width: 40%;
    height: 5px; 
    margin: 5px 180px 5px;
    border-radius: 2px;
}

#org::before {
    content:'';
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: azure;
    border-radius: 2px;
}
#reac {
    background-color: rgba(109, 40, 40, 0.85);
    width: 40%;
    height: 5px; 
    margin: 5px 180px 5px;
    border-radius: 2px;
}

#reac::before {
    content:'';
    position: absolute;
    width: 35%;
    height: 5px;
    background-color: azure;
    border-radius: 2px;
}
#ang {
    background-color: rgba(109, 40, 40, 0.85);
    width: 40%;
    height: 5px; 
    margin: 5px 180px 5px;
    border-radius: 2px;
}

#ang::before {
    content:'';
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: azure;
    border-radius: 2px;
}

#curi {
    background-color: rgba(109, 40, 40, 0.85);
    width: 40%;
    height: 5px; 
    margin: 5px 180px 5px;
    border-radius: 2px;
}

#curi::before {
    content:'';
    position: absolute;
    width: 35%;
    height: 5px;
    background-color: azure;
    border-radius: 2px;
}

/*layout form*/

form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    position: relative;

}

.groupe {
    display:flex;
    flex-direction: column;
}

.identity {
    display:flex;
    flex-direction: column;
    margin: 5px 25px 5px 0px;
}

#identity {
    display:flex;

}

input, select, textarea {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 2px 2px 5px;
    margin:10px 0px 10px 0px;
    outline-color: brown;
}

select {
    width: 52%;
    text-align: center;
}

input[type=email]{
    width: 50%;
}

textarea {
    max-width: 80%;
    width: 50%;
}

input[type=submit] {
    width:25%;
    height: 35px;
    margin-left: 145px;
    margin-top: 20px;
    font-size: 1.1em;
    padding: 5px 0px 5px 0px;
    border-radius: 20px;
}

input[type=submit]:hover {
    background-color: brown;
    cursor: pointer;
    transition: 250ms ease-in-out;
}